.span{
    color: black;
    position: relative;
    z-index: 1;
    padding: 2%;
}

#StreamView{
    border: solid 2px black;
    border-radius: 5px;
    margin-bottom: 20px !important;
    padding: 10px;
    position: relative
}

#sunBurst{
    border: solid 2px black;
    border-radius: 5px;
    margin-bottom: 20px !important;
    padding: 10px;
    position: relative;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    width: 960px;
    display: inline-block;
}

form {
    position: absolute;
    right: 10px;
    top: 10px;
}


.chart {
    background: #fff;
}

p {
    font: 12px helvetica;
}


.axis path,
.axis line {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}


.tip {
    border: 1px solid black;
    border-radius: 30px;
    position: relative;
    margin-left: 20px; 
    margin-bottom: 10px;
    background-color: hsla(0, 0%, 100%, .9);
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    width: 300px;
}

.tip .year {
    font-weight: 900;
    font-size: 1.25em;
    margin-bottom: 2px;
}

.tip .swatch {
    width: 11px;
    height: 11px;
    float: left;
    margin-top: 6px;
    margin-right: 4px;
}

.contentVis{
    width:65%;
    float: left;
}

.filterMenu{
    
    width:30%;
    margin-right:2%;
    float: left;
}
.filter{
    margin-left: 20px;
    margin-bottom: 20px;
    border: solid 2px black;
    border-radius: 5px;
}

.filter > div {
    margin-left: 20px;
    margin-bottom: 20px;    
}

.filterHead{
    margin-left: 20px;
}

.sendFilter{
    margin-bottom: 10px; 
    margin-left: 10px;
}

#sunBurstDiv{
    display: none;
}

#streamGraphDiv{
    display: none;
}

.showMonth{
    width: 15px;
}

h2{
    color: rgb(59, 73, 88);
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    border-radius: 50%;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

button:hover {
    background-color: rgb(53, 78, 105); /* Green */
    color: white;
}